:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--info);
  text-decoration: inherit;
}
a:hover {
  color: var(--purple);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-highlight);
  color: var(--text);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--info);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Remove media queries as we're handling themes with our theme system */
